<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="sqlConnection" value="Data Source=D1U9M4B5O;Initial Catalog=Menaxhimi_UniversitetitDB; Integrated Security=True; "/>

	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>